extends layout 

block content 
    h1 User Login page
    form(method='POST', action='/users/register')
        #form-group
            label(for="username") Username: 
            input.form-control(name='username',type="text")
            br
            br
        #form-group
            label(for="Password") Password: 
            input.form-control(name='password',type="password")
            br
         
            br

        input.btn.btn-primary(type='submit' value='Submit')