extends layout 

block content 
    h1 #{title}
    form(method='POST', action='/users/register')
        #form-group
            label(for="name") Name: 
            input.form-control(name='name',type="text")
            br
            br
        #form-group
            label(for="Email") Email: 
            input.form-control(name='email',type="text")
            br
            br
        #form-group
            label(for="Username") Username: 
            input.form-control(name='username',type="text")
            br
            br
        #form-group
            label(for="Password") Password: 
            input.form-control(name='password',type="password")
            br
            br
        #form-group
            label(for="Password2") Confirm Password: 
            input.form-control(name='password2',type="password")
            br
         
            br

        input.btn.btn-primary(type='submit' value='Submit')